:root {
  /* Color Palette */
  --light-teal: #99d5c9;
  --dusty-blue: #6c969d;
  --purplish-blue: #645e9d;
  --dark-purple: #392b58;
  --very-dark-purple: #2d0320;

  /* Other variables */
  --img-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.page-title {
  padding: 10px;
  margin: 0;
}
.page-title a {
  text-decoration: none;
  color: var(--light-teal);
}

#course-title {
  display: block;
  text-align: center;
}

header {
  background-color: var(--dark-purple);
  max-width: 100%;
}

nav {
  justify-content: center;
  display: flex;
  align-items: center;
}

nav a {
  color: var(--light-teal);
  font-size: 1.2rem;
  padding: 1.5rem;
  display: block;
  text-decoration: none;
  font-weight: 700;
  transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
  background-color: var(--purplish-blue);
  color: white;
}

main {
  padding: 1rem;
  margin: 0 auto;
  max-width: 1000px;
}

h1 {
  font-family: "Open Sans", sans-serif;
  color: var(--dark-purple);
  border-bottom: 3px solid var(--dark-purple);
  padding-bottom: 5px;
  margin-bottom: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  gap: 1.5rem;
  justify-content: center;
}

footer {
  max-width: 840px;
  margin: 1rem auto 0;
  padding: 1rem;
  border-top: 1px solid var(--dusty-blue);
  text-align: center;
  color: var(--dark-purple);
}

/* General card styling */
.card,
.card-2 {
  border: 1px solid var(--dusty-blue);
  border-radius: 8px;
  margin-bottom: 1.5rem;
  padding: 1.5rem;
  background-color: #f9f9f9;
  overflow: hidden;
}
.card-2 {
  display: flex;
  flex-direction: column;
}

.card h2,
.card-2 h2 {
  color: var(--purplish-blue);
  margin-bottom: 1rem;
}

.card img {
  width: 150px;
  height: auto;
  border: 1px solid var(--dusty-blue);
  padding: 5px;
  box-shadow: var(--img-box-shadow);
  float: right;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 4px;
}

.card p {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  color: var(--very-dark-purple);
}

/* Card-2 styling for the list items/buttons */
.card-2 ul {
  list-style-type: none;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card-2 ul a {
  display: block;
  text-decoration: none;
  padding: 0.75rem;
  background-color: var(--purplish-blue);
  color: white;
  text-align: center;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.card-2 ul a:hover {
  background-color: var(--light-teal);
  color: var(--purplish-blue);
}

footer p {
  margin: 0.5rem 0;
}

footer p#lastModified {
  font-size: 0.8rem;
}
